In [13]:
import os
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn import preprocessing
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix, classification_report, accuracy_score, f1_score
from sklearn.linear_model import LogisticRegression

In [14]:
data=pd.read_csv("train.csv")

In [15]:
data.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,churn
0,4083-EUGRJ,Male,0,No,No,9,Yes,No,No,No internet service,...,No internet service,No internet service,No internet service,No internet service,Month-to-month,No,Mailed check,20.25,178.5,Yes
1,4750-UKWJK,Female,1,Yes,No,37,Yes,No,No,No internet service,...,No internet service,No internet service,No internet service,No internet service,One year,No,Mailed check,19.60,727.8,No
2,0794-YVSGE,Male,0,Yes,Yes,72,Yes,No,No,No internet service,...,No internet service,No internet service,No internet service,No internet service,Two year,No,Bank transfer (automatic),20.30,1401.15,No
3,0576-WNXXC,Male,1,Yes,No,27,Yes,Yes,Fiber optic,No,...,Yes,No,No,Yes,Month-to-month,Yes,Electronic check,95.55,2510.2,Yes
4,7077-XJMET,Male,0,Yes,No,12,Yes,No,DSL,No,...,Yes,Yes,Yes,Yes,Month-to-month,Yes,Electronic check,74.15,741.4,No

In [16]:
data.isna().sum()

customerID          0
gender              0
SeniorCitizen       0
Partner             0
Dependents          0
tenure              0
PhoneService        0
MultipleLines       0
InternetService     0
OnlineSecurity      0
OnlineBackup        0
DeviceProtection    0
TechSupport         0
StreamingTV         0
StreamingMovies     0
Contract            0
PaperlessBilling    0
PaymentMethod       0
MonthlyCharges      0
TotalCharges        0
churn               0
dtype: int64

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6338 entries, 0 to 6337
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        6338 non-null   object
 1   gender            6338 non-null   object
 2   SeniorCitizen     6338 non-null   int64
 3   Partner           6338 non-null   object
 4   Dependents        6338 non-null   object
 5   tenure            6338 non-null   int64
 6   PhoneService      6338 non-null   object
 7   MultipleLines     6338 non-null   object
 8   InternetService   6338 non-null   object
 9   OnlineSecurity    6338 non-null   object
 10  OnlineBackup      6338 non-null   object
 11  DeviceProtection  6338 non-null   object
 12  TechSupport       6338 non-null   object
 13  StreamingTV       6338 non-null   object
 14  StreamingMovies   6338 non-null   object
 15  Contract          6338 non-null   object
 16  PaperlessBilling  6338 non-null   object
 17  PaymentMethod     6338 non-null   object
 18  MonthlyCharges    6338 non-null   float64
 19  TotalCharges      6338 non-null   object
 20  churn             6338 non-null   object
dtypes: float64(1), int64(2), object(18)
memory usage: 1.0+ MB

In [17]:
data['gender']=LabelEncoder().fit_transform(data['gender'])
data['Partner']=LabelEncoder().fit_transform(data['Partner'])
data['Dependents']=LabelEncoder().fit_transform(data['Dependents'])
data['PhoneService']=LabelEncoder().fit_transform(data['PhoneService'])
data['MultipleLines']=LabelEncoder().fit_transform(data['MultipleLines'])
data['InternetService']=LabelEncoder().fit_transform(data['InternetService'])
data['OnlineSecurity']=LabelEncoder().fit_transform(data['OnlineSecurity'])
data['OnlineBackup']=LabelEncoder().fit_transform(data['OnlineBackup'])
data['DeviceProtection']=LabelEncoder().fit_transform(data['DeviceProtection'])
data['StreamingTV']=LabelEncoder().fit_transform(data['StreamingTV'])
data['StreamingMovies']=LabelEncoder().fit_transform(data['StreamingMovies'])
data['Contract']=LabelEncoder().fit_transform(data['Contract'])
data['PaperlessBilling']=LabelEncoder().fit_transform(data['PaperlessBilling'])
data['PaymentMethod']=LabelEncoder().fit_transform(data['PaymentMethod'])
data['TechSupport']=LabelEncoder().fit_transform(data['TechSupport'])
data['churn']=LabelEncoder().fit_transform(data['churn'])
#X['TechSupport']=LabelEncoder().fit_transform(X['TechSupport'])

In [18]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6338 entries, 0 to 6337
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        6338 non-null   object
 1   gender            6338 non-null   int32
 2   SeniorCitizen     6338 non-null   int64
 3   Partner           6338 non-null   int32
 4   Dependents        6338 non-null   int32
 5   tenure            6338 non-null   int64
 6   PhoneService      6338 non-null   int32
 7   MultipleLines     6338 non-null   int32
 8   InternetService   6338 non-null   int32
 9   OnlineSecurity    6338 non-null   int32
 10  OnlineBackup      6338 non-null   int32
 11  DeviceProtection  6338 non-null   int32
 12  TechSupport       6338 non-null   int32
 13  StreamingTV       6338 non-null   int32
 14  StreamingMovies   6338 non-null   int32
 15  Contract          6338 non-null   int32
 16  PaperlessBilling  6338 non-null   int32
 17  PaymentMethod     6338 non-null   int32
 18  MonthlyCharges    6338 non-null   float64
 19  TotalCharges      6338 non-null   object
 20  churn             6338 non-null   int32
dtypes: float64(1), int32(16), int64(2), object(2)
memory usage: 643.8+ KB

In [19]:
data['TotalCharges'] = pd.to_numeric(data['TotalCharges'],errors='coerce')
tc_median = data['TotalCharges'].median()
data['TotalCharges'].fillna(tc_median,inplace=True)

In [20]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6338 entries, 0 to 6337
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        6338 non-null   object
 1   gender            6338 non-null   int32
 2   SeniorCitizen     6338 non-null   int64
 3   Partner           6338 non-null   int32
 4   Dependents        6338 non-null   int32
 5   tenure            6338 non-null   int64
 6   PhoneService      6338 non-null   int32
 7   MultipleLines     6338 non-null   int32
 8   InternetService   6338 non-null   int32
 9   OnlineSecurity    6338 non-null   int32
 10  OnlineBackup      6338 non-null   int32
 11  DeviceProtection  6338 non-null   int32
 12  TechSupport       6338 non-null   int32
 13  StreamingTV       6338 non-null   int32
 14  StreamingMovies   6338 non-null   int32
 15  Contract          6338 non-null   int32
 16  PaperlessBilling  6338 non-null   int32
 17  PaymentMethod     6338 non-null   int32
 18  MonthlyCharges    6338 non-null   float64
 19  TotalCharges      6338 non-null   float64
 20  churn             6338 non-null   int32
dtypes: float64(2), int32(16), int64(2), object(1)
memory usage: 643.8+ KB

In [21]:
data = data.drop("customerID",axis=1)

In [22]:
X = data.drop("churn", axis=1)
y = data["churn"]

In [24]:
LR_model=LogisticRegression()

In [23]:
X_train, X_test, y_train, y_test = train_test_split(X, y, train_size=0.5, random_state=42)

In [26]:
LR_model.fit(X_train, y_train)

C:\Program Files\Anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:763: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [33]:
res=LR_model.predict(X_test)
f1=f1_score(y_test, res, average='micro')
acc=accuracy_score(y_test, res)

In [34]:
print(acc)

0.8081413695171978

In [29]:
test_df=pd.read_csv('test.csv')
test_df.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,churn
0,6296-DDOOR,Female,0,No,No,19,Yes,No,DSL,No,...,No,No,Yes,No,One year,No,Electronic check,58.20,1045.25,No
1,3680-CTHUH,Male,0,No,No,60,Yes,Yes,Fiber optic,Yes,...,Yes,Yes,Yes,Yes,One year,Yes,Credit card (automatic),116.60,7049.5,No
2,4931-TRZWN,Female,0,No,No,13,Yes,No,DSL,Yes,...,No,No,Yes,Yes,Month-to-month,Yes,Electronic check,71.95,923.85,No
3,8559-WNQZS,Male,0,No,No,1,Yes,No,No,No internet service,...,No internet service,No internet service,No internet service,No internet service,Two year,No,Mailed check,20.45,20.45,No
4,3537-HPKQT,Female,0,Yes,No,55,Yes,Yes,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Credit card (automatic),77.75,4266.4,No

In [30]:
test_df['gender']=LabelEncoder().fit_transform(test_df['gender'])
test_df['Partner']=LabelEncoder().fit_transform(test_df['Partner'])
test_df['Dependents']=LabelEncoder().fit_transform(test_df['Dependents'])
test_df['PhoneService']=LabelEncoder().fit_transform(test_df['PhoneService'])
test_df['MultipleLines']=LabelEncoder().fit_transform(test_df['MultipleLines'])
test_df['InternetService']=LabelEncoder().fit_transform(test_df['InternetService'])
test_df['OnlineSecurity']=LabelEncoder().fit_transform(test_df['OnlineSecurity'])
test_df['OnlineBackup']=LabelEncoder().fit_transform(test_df['OnlineBackup'])
test_df['DeviceProtection']=LabelEncoder().fit_transform(test_df['DeviceProtection'])
test_df['StreamingTV']=LabelEncoder().fit_transform(test_df['StreamingTV'])
test_df['StreamingMovies']=LabelEncoder().fit_transform(test_df['StreamingMovies'])
test_df['Contract']=LabelEncoder().fit_transform(test_df['Contract'])
test_df['PaperlessBilling']=LabelEncoder().fit_transform(test_df['PaperlessBilling'])
test_df['PaymentMethod']=LabelEncoder().fit_transform(test_df['PaymentMethod'])
test_df['TechSupport']=LabelEncoder().fit_transform(test_df['TechSupport'])
test_df['churn']=LabelEncoder().fit_transform(test_df['churn'])
#X['TechSupport']=LabelEncoder().fit_transform(X['TechSupport'])

In [31]:
test_df['TotalCharges'] = pd.to_numeric(test_df['TotalCharges'],errors='coerce')
tc1_median = test_df['TotalCharges'].median()
test_df['TotalCharges'].fillna(tc1_median,inplace=True)
#test_df = test_df.drop("customerID",axis=1)
test_df = test_df.drop("churn",axis=1)

In [32]:
X = test_df.drop("customerID", axis=1)
X.head()

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges
0,0,0,0,0,19,1,0,0,0,2,0,0,2,0,1,0,2,58.20,1045.25
1,1,0,0,0,60,1,2,1,2,2,2,2,2,2,1,1,1,116.60,7049.50
2,0,0,0,0,13,1,0,0,2,0,0,0,2,2,0,1,2,71.95,923.85
3,1,0,0,0,1,1,0,2,1,1,1,1,1,1,2,0,3,20.45,20.45
4,0,0,1,0,55,1,2,1,0,2,0,0,0,0,0,1,1,77.75,4266.40

In [35]:
res=LR_model.predict(X)
res

array([0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0,
       0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0,
       1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0,
       1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0,
       1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0,
       1, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 0,
       0, 0, 1, 1, 0, 1, 1, 0, 0, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0,
       0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 0, 1,
       0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0,
       1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 1, 1, 1,
       0, 1, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 1, 0, 0,
       0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0,
       0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1,
       1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 1, 1, 0,
       0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0,
       1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0,
       0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0,
       0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 0, 1, 0, 0, 0,
       0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0,
       0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0,
       0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1,
       1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0,
       0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0,
       0])

In [36]:
res_df=pd.DataFrame()

In [37]:
res_df['customerID']=test_df["customerID"]
res_df['churn']=list(res)
res_df['churn'].replace({0: 'no', 1: 'yes'}, inplace=True)
res_df.head()

   customerID churn
0  6296-DDOOR    no
1  3680-CTHUH    no
2  4931-TRZWN    no
3  8559-WNQZS    no
4  3537-HPKQT    no

In [38]:
res_df.tail(10)

     customerID churn
695  8048-DSDFQ    no
696  5156-UMKOW    no
697  3285-UCQVC    no
698  4988-IQIGL   yes
699  3831-YCPUO    no
700  5766-FTRTS    no
701  2595-KIWPV    no
702  7016-BPGEU    no
703  5197-YPYBZ    no
704  1629-DQQVB    no